*{
  margin : 0;
  padding : 0;
}

.box{
  width: 100px;
  height: 100px;
  border : 1px solid black;
  margin : 50px auto;
  transition: .3s width,
              .3s height .3s,
              .3s margin-top .3s,
              1s background-color;
}

.size{
  width: 150px;
  height: 150px;
  margin-top: 25px;
}

.caption{
  background-color: black;
}

.hl{
  background-color: salmon;
}

body{
  background-color: salmon;
  text-align: center;
}

.namaku{
  font-family: arial;
  font-size: 80px;
  color: white;
}

.namaku span{
  /* displaynya dirubah agar bisa ter transform karena display defaultnya span itu inline */
  display: inline-block;
  transition: .3s ease;
  margin-right: 15px;
}

.namaku span:hover{
  cursor: pointer;
  transform: scale(2) translateY(-20px);
}